/* styles.css */
/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 20px;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

h1 {
  font-size: 30px;
  color:#3e0202;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color:#581414bd;
}

/* contenedor de genero */
section {
  background-color: rgba(137, 43, 226, 0.268);
  margin-bottom: 40px;
  boder-radius: 15px;
}

/* titulo de cada genero */
h2 {
  font-size: 16px;
  margin-bottom: 15px;
  color: blueviolet;
}

/* */
[id^="genero-"] {
  background-color: rgba(196, 170, 221, 0.067);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* presentacion de cada peli */
.pelicula {
  background-color: #09f1e576;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 170px;
  padding: 10px;
  text-align: center;
  transition: transform 0.5s ease
}

.pelicula:hover {
  transform: translateY(-5px);
}

/* portada de la peli */
.pelicula img {
  width: 100%;
  border-radius: 8px;
  height: auto;
}

/* titulo de cada peli */
.pelicula h3 {
  font-size: 13px;
  margin-top: 8px;
  color: #1e5f69;
}
